:root,
::backdrop {
    --sans-font: "Inter", "Segoe UI", Helvetica, sans-serif;
    --mono-font: monospace;
    --standard-border-radius: 5px;
    --bg: #fff;
    --accent-bg: #f5fffa;
    --text: #212121;
    --text-light: #585858;
    --border: #898EA4;
    --accent: #3c8a19;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
}

@media (prefers-color-scheme: dark) {}

#logo {
    text-decoration: none;
    color: var(--text);
}

img {
    border-radius: 5%;
}
