.paciente-list {
    text-align: center;
    padding: 20px;
}

.paciente-list h1 {
    margin-bottom: 36px;
}

.paciente-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.paciente-card {
    background-color: #1b4231;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: left;
}

.paciente-card h2 {
    margin-top: 0;
    color: #eeeeee;
}

.paciente-card p {
    margin: 8px 0;
    color: #dddddd;
}

.paciente-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.edit-button, .delete-button, .add-button {
    background-color: #1d574c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.edit-button:hover, .delete-button:hover, .add-button:hover {
    background-color: #2a806f;
}

.delete-button {
    background-color: #7d1111;
}

.delete-button:hover {
    background-color: #a51e1e;
}

.add-button {
    margin-top: 35px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
