.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
    gap: 10px;
}

.login-form {
    width: 375px;
    height: 275px;
    background-color: #1b4231;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-form input {
    width: 70%;
    height: 25px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    background-color: #1d574c;
    color: white;
}

.login-form label {
    font-size: 18px;
}

.login-form button {
    width: 25%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    background-color: #1d574c;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}
